<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/public/stylesheets/index.css">
</head>

<body>
  <div class="name-box">
    <div class="firstname">
      Eric
    </div>
    <div class="lastname">
      <div class="spin-letter">T</div>
      <div class="spin-letter">H</div>
      <div class="spin-letter">O</div>
      <div class="spin-letter">M</div>
      <div class="spin-letter">P</div>
      <div class="spin-letter">S</div>
      <div class="spin-letter">O</div>
      <div class="spin-letter">N</div>
    </div>
  </div>
  <div class="summary">
    <p>An inventive and diligent developer skilled in every aspect of the software development life cycle from the conception of a
      product that will meet business needs and client expectations to the provision of long-term support for legacy code.
      Professional experience on teams following the Agile/Scrum methodology both in face-to-face contexts and in remote
      work with colleagues in varying time zones. Delivered lectures in both academic and professional contexts.
    </p>
  </div>
  <div class="techs">

  </div>

  <script>
    const observer = new IntersectionObserver(entries => {
      entries.forEach(entry => {
        if (entry.isIntersecting) {
          entry.target.classList.add("summary-anim");
        }
      });
    })

    observer.observe(document.querySelector(".summary"));
  </script>
</body>

</html>