<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/public/stylesheets/index.css">
</head>

<body>
  <div class="name-box">
    <div class="firstname">
      Eric
    </div>
    <div class="lastname">
      <div class="spin-letter">T</div>
      <div class="spin-letter">H</div>
      <div class="spin-letter">O</div>
      <div class="spin-letter">M</div>
      <div class="spin-letter">P</div>
      <div class="spin-letter">S</div>
      <div class="spin-letter">O</div>
      <div class="spin-letter">N</div>
    </div>
    <div class="contact">
      Please see the PDF version of this resume for contact details.
    </div>
  </div>
  <div class="summary">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Saepe beatae deleniti earum! Ducimus at aperiam totam quidem saepe cum incidunt in aliquid perspiciatis quae animi illo harum odit cumque atque,
      dicta dolor temporibus dolorem a ut nemo voluptatem inventore eveniet officiis. Sit hic cum aut, ipsam quos cumque voluptatem tempora.
    </p>
  </div>
  <div class="techs">
    <div class="techs-item">
      <p>JavaScript</p>
      <div class="outline">
        <div class="progress bar100">&nbsp;</div>
      </div>
    </div>
    <div class="techs-item">
      <p>HTML</p>
      <div class="outline">
        <div class="progress bar100">&nbsp;</div>
      </div>
    </div>
    <div class="techs-item">
      <p>CSS</p>
      <div class="outline">
        <div class="progress bar80">&nbsp;</div>
      </div>
    </div>
    <div class="techs-item">
      <p>Node.JS</p>
      <div class="outline">
        <div class="progress bar80">&nbsp;</div>
      </div>
    </div>
    <div class="techs-item">
      <p>Express.JS</p>
      <div class="outline">
        <div class="progress bar80">&nbsp;</div>
      </div>
    </div>
    <div class="techs-item">
      <p>Python</p>
      <div class="outline">
        <div class="progress bar80">&nbsp;</div>
      </div>
    </div>
    <div class="techs-item">
      <p>C#</p>
      <div class="outline">
        <div class="progress bar60">&nbsp;</div>
      </div>
    </div>
    <div class="techs-item">
      <p>SQL</p>
      <div class="outline">
        <div class="progress bar60">&nbsp;</div>
      </div>
    </div>
  </div>
  <div class="education">
    <div>
      <div class="degree">
        Associate Degree of Applied Science: Computer Programming
      </div>
      <div class="college">
        Augusta Technical College (2021)
      </div>
    </div>
    <div>
      <div class="certificate">
        Certificate of Completion
      </div>
      <div class="clubhouse">
        <a href="https://www.theclubhou.se/code-boot-camp">TheClubhou.se</a> Coding Bootcamp (2021)
      </div>
    </div>
  </div>
  <div class="portfolio">
    Portfolio Section <br>
    (Under Construction)
  </div>

  <script>
    const sumOb = new IntersectionObserver(entries => {
      entries.forEach(entry => {
        if (entry.isIntersecting) {
          entry.target.classList.add("summary-anim");
        }
      });
    })

    const eduOb = new IntersectionObserver(entries => {
      entries.forEach(entry => {
        if (entry.isIntersecting) {
          entry.target.classList.add("education-anim");
        }
      });
    })

    const sixtyOb = new IntersectionObserver(entries => {
      entries.forEach(entry => {
        if (entry.isIntersecting) {
          entry.target.classList.add("sixty");
        }
      });
    })

    const eightyOb = new IntersectionObserver(entries => {
      entries.forEach(entry => {
        if (entry.isIntersecting) {
          entry.target.classList.add("eighty");
        }
      });
    })

    const hundredOb = new IntersectionObserver(entries => {
      entries.forEach(entry => {
        if (entry.isIntersecting) {
          entry.target.classList.add("hundred");
        }
      });
    })

    document.querySelectorAll(".summary").forEach((i) => {
      if (i) {
        sumOb.observe(i);
      }
    });

    document.querySelectorAll(".bar60").forEach((i) => {
      if (i) {
        sixtyOb.observe(i);
      }
    });

    document.querySelectorAll(".bar80").forEach((i) => {
      if (i) {
        eightyOb.observe(i);
      }
    });

    document.querySelectorAll(".bar100").forEach((i) => {
      if (i) {
        hundredOb.observe(i);
      }
    });

    document.querySelectorAll(".education").forEach((i) => {
      if (i) {
        eduOb.observe(i);
      }
    });
  </script>
</body>

</html>