<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/public/stylesheets/index.css">
</head>

<body>
  <div class="name-box">
    <div class="firstname">
      Eric
    </div>
    <div class="lastname">
      <div class="spin-letter">T</div>
      <div class="spin-letter">H</div>
      <div class="spin-letter">O</div>
      <div class="spin-letter">M</div>
      <div class="spin-letter">P</div>
      <div class="spin-letter">S</div>
      <div class="spin-letter">O</div>
      <div class="spin-letter">N</div>
    </div>
    <div class="contact">
      Please see the PDF version of this resume for contact details.
    </div>
  </div>
  <div class="summary">
    An inventive and diligent developer skilled in every aspect of the software development life cycle from the conception of a
    product that will meet business needs and client expectations to the provision of long-term support for legacy code.
    Professional experience on teams following the Agile/Scrum methodology both in face-to-face contexts and in remote
    work with colleagues in varying time zones. Delivered lectures in both academic and professional contexts.
  </div>
  <div class="techs">
    <div class="techs-item">
      <p>JavaScript</p>
      <div class="outline">
        <div class="progress bar100">&nbsp;</div>
      </div>
    </div>
    <div class="techs-item">
      <p>HTML</p>
      <div class="outline">
        <div class="progress bar100">&nbsp;</div>
      </div>
    </div>
    <div class="techs-item">
      <p>CSS</p>
      <div class="outline">
        <div class="progress bar80">&nbsp;</div>
      </div>
    </div>
    <div class="techs-item">
      <p>Node.JS</p>
      <div class="outline">
        <div class="progress bar80">&nbsp;</div>
      </div>
    </div>
    <div class="techs-item">
      <p>Express.JS</p>
      <div class="outline">
        <div class="progress bar80">&nbsp;</div>
      </div>
    </div>
    <div class="techs-item">
      <p>Python</p>
      <div class="outline">
        <div class="progress bar80">&nbsp;</div>
      </div>
    </div>
    <div class="techs-item">
      <p>C#</p>
      <div class="outline">
        <div class="progress bar80">&nbsp;</div>
      </div>
    </div>
    <div class="techs-item">
      <p>SQL</p>
      <div class="outline">
        <div class="progress bar60">&nbsp;</div>
      </div>
    </div>
  </div>
  <div class="education">
    <div>
      <div class="degree">
        Associate Degree of Applied Science: Computer Programming
      </div>
      <div class="college">
        Augusta Technical College (2021)
      </div>
    </div>
    <div>
      <div class="certificate">
        Certificate of Completion
      </div>
      <div class="clubhouse">
        <a href="https://www.theclubhou.se/code-boot-camp">TheClubhou.se</a> Coding Bootcamp (2021)
      </div>
    </div>
  </div>
  <div class="portfolio-header">
    My Projects
  </div>
  <div class="portfolio">
    <div class="exercise" id="exercise" onclick="refer(exercise)">
      <a href="https://stormy-brushlands-68724.herokuapp.com/">
        <img onmouseover="reveal(0)" onmouseleave="hide(0)" class="port-image" src="/public/images/Exercise.png" alt="">
      </a>
      <div class="description" id="0">
        Track your exercise and view your progress.
      </div>
    </div>
    <div class="math" id="math">
      <a href="https://calm-waters-67459.herokuapp.com/">
        <img onmouseover="reveal(1)" onmouseleave="hide(1)" class="port-image" src="/public/images/Math.png" alt="">
      </a>
      <div class="description" id="1">
        Generate and be graded on math worksheets.
      </div>
    </div>
    <div class="tictactoe" id="tictactoe">
      <a href="https://tic-tac-toe-10761.herokuapp.com/">
        <img onmouseover="reveal(2)" onmouseleave="hide(2)" class="port-image" src="/public/images/Tic-Tac-Toe.png" alt="">
      </a>
      <div class="description" id="2">
        A classic game of TicTacToe with an unbeatable computer.
      </div>
    </div>
    <div class="good-vibes" id="good-vibes">
      <a href="https://good-vibes-58293.herokuapp.com/">
        <img onmouseover="reveal(3)" onmouseleave="hide(3)" class="port-image" src="/public/images/GoodVibes.png" alt="">
      </a>
      <div class="description" id="3">
        A special place where you can send me your positive energy.
      </div>
    </div>
  </div>

  <script>
    const sumOb = new IntersectionObserver(entries => {
      entries.forEach(entry => {
        if (entry.isIntersecting) {
          entry.target.classList.add("summary-anim");
        }
      });
    })

    const eduOb = new IntersectionObserver(entries => {
      entries.forEach(entry => {
        if (entry.isIntersecting) {
          entry.target.classList.add("education-anim");
        }
      });
    })

    const sixtyOb = new IntersectionObserver(entries => {
      entries.forEach(entry => {
        if (entry.isIntersecting) {
          entry.target.classList.add("sixty");
        }
      });
    })

    const eightyOb = new IntersectionObserver(entries => {
      entries.forEach(entry => {
        if (entry.isIntersecting) {
          entry.target.classList.add("eighty");
        }
      });
    })

    const hundredOb = new IntersectionObserver(entries => {
      entries.forEach(entry => {
        if (entry.isIntersecting) {
          entry.target.classList.add("hundred");
        }
      });
    })

    document.querySelectorAll(".summary").forEach((i) => {
      if (i) {
        sumOb.observe(i);
      }
    });

    document.querySelectorAll(".bar60").forEach((i) => {
      if (i) {
        sixtyOb.observe(i);
      }
    });

    document.querySelectorAll(".bar80").forEach((i) => {
      if (i) {
        eightyOb.observe(i);
      }
    });

    document.querySelectorAll(".bar100").forEach((i) => {
      if (i) {
        hundredOb.observe(i);
      }
    });

    document.querySelectorAll(".education").forEach((i) => {
      if (i) {
        eduOb.observe(i);
      }
    });

    function reveal(n) {
      document.getElementById(n).classList.remove("desc-fade");
      document.getElementById(n).classList.add("desc-reveal");
    }

    function hide(n) {
      document.getElementById(n).classList.remove("desc-reveal");
      document.getElementById(n).classList.add("desc-fade");
    }
  </script>
</body>

</html>