body {
  width: 100vw;
  height: 400vh;
}

.name-box {
  background-color: cornflowerblue;
  border: 1px solid black;
  width: 100vw;
  height: 100vh;
}

.firstname {
  text-transform: uppercase;
  font-size: 9vw;
  text-align: center;
  opacity: 0;
  animation-name: fadein;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes fadein {
  to {
    opacity: 1;
  }
}

.lastname {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-transform: uppercase;
  width: 0vw;
  font-size: 4.5vw;
  background-color: white;
  animation-name: grow;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

@keyframes grow {
  to {
    width: 100vw;
  }
}

.contact {
  color: white;
  font-size: 2vh;
  opacity: 0;
  margin-top: 100vh;
  text-align: center;
  animation-name: contact-slide;
  animation-duration: 3s;
  animation-delay: 6s;
  animation-fill-mode: forwards;
}

@keyframes contact-slide {
  to {
    opacity: 1;
    margin-top: 10vh;
  }
}

.spin-letter {
  opacity: 0;
  animation-name: spin;
  animation-duration: 3s;
  animation-delay: 4s;
  animation-fill-mode: forwards;
}

@keyframes spin {
  to {
    transform: rotateZ(360deg);
    opacity: 1;
  }
}

.summary {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  height: 100vh;
  line-height: 7vh;
  font-size: 2vw;
  text-align: start;
}

.summary-anim {
  animation-name: slide;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes slide {
  from {
    opacity: 0;
    margin-left: 100%;
  }
  to {
    opacity: 1;
    margin-left: none;
  }
}

.techs {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
  font-size: 2vw;
}

.outline {
  width: 10vw;
  min-height: 2vh;
  border: 1px solid black;
}

.progress {
  background-color: lightskyblue;
  min-height: 2vh;
  max-height: 2vh;
  width: 0%;
}

.sixty {
  animation-name: growin60;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes growin60 {
  to {
    width: 60%;
  }
}

.eighty {
  animation-name: growin80;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes growin80 {
  to {
    width: 80%;
  }
}

.hundred {
  animation-name: growin100;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes growin100 {
  to {
    width: 100%;
  }
}
